<h2>Katalog</h2>
<hr>
<ul style="display: block; padding: 0;">
  <li ng-repeat="item in items()" style="list-style-type: none; float: left; width: 200px; padding: 0 10px 0 0; height: 250px; text-align: center;">
    <div style="display: block; margin: 0 auto;"><img ng-src="{{item.covers[0]}}" style="height: 120px; width: 120px; border: 1px solid silver;"></div>
    <div style="margin-bottom: 2px;">{{item.artist}}</div>
    <div style="margin-bottom: 10px; font-weight: bold; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{item.title}}</div>
    <div style="margin-bottom: 5px;">{{item.price.toFixed(2)}}&nbsp;€</div>
    <div><a class="mui-btn mui-btn-default mui-btn-raised" href="#" ng-click="addToCart(item)">kaufen</a></div>
  </li>
</ul>
<div class="mui-clearfix"></div>
<nav style="display: block; margin: 20px; text-align: center;">
  Artikel pro Seite: <a href="#" ng-click="find(10)">10</a> &nbsp; <a href="#" ng-click="find(20)">20</a> &nbsp; <a href="#" ng-click="find(50)">50</a><br/>
</nav>
